---
import {getLangFromUrl, useTranslations} from '../../i18n/i18nUtils';
import WebsiteButton from './WebsiteButton.astro';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---

<div id="cv-button">
  <a href=`/irian-cv-${locale}.pdf`>
    <WebsiteButton label={t('website.home.cv-button.label')} />
  </a>
</div>

<script define:vars={{locale}}>
  const button = document.getElementById('cv-button');
  function animateButton() {
    button?.classList.add('jello-horizontal');
    button?.classList.add('bg-animate');
  }

  button?.addEventListener('click', animateButton);
</script>

<style>
  #cv-button {
    display: inline-block;
    margin-top: 2rem;
  }
  #cv-button:before,
  #cv-button:after {
    display: block;
    position: absolute;
    content: '';
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  #cv-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(
        circle,
        rgb(var(--accent-color-1)) 20%,
        transparent 20%
      ),
      radial-gradient(
        circle,
        transparent 20%,
        rgb(var(--accent-color-1)) 20%,
        transparent 30%
      ),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%),
      radial-gradient(
        circle,
        transparent 10%,
        rgb(var(--accent-color-1)) 15%,
        transparent 20%
      ),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%);
    background-size:
      10% 10%,
      20% 20%,
      15% 15%,
      20% 20%,
      18% 18%,
      10% 10%,
      15% 15%,
      10% 10%,
      18% 18%;
  }
  #cv-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(
        circle,
        rgb(var(--accent-color-1)) 20%,
        transparent 20%
      ),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%),
      radial-gradient(
        circle,
        transparent 10%,
        rgb(var(--accent-color-1)) 15%,
        transparent 20%
      ),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%),
      radial-gradient(circle, rgb(var(--accent-color-1)) 20%, transparent 20%);
    background-size:
      15% 15%,
      20% 20%,
      18% 18%,
      20% 20%,
      15% 15%,
      10% 10%,
      20% 20%;
  }

  #cv-button.bg-animate:before {
    display: block;
    animation: topBubbles ease-in-out 1s forwards;
  }
  #cv-button.bg-animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 1s forwards;
  }

  .jello-horizontal {
    animation: jello-horizontal 0.9s ease-in-out both;
  }

  /* ANIMATIONS */
  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }

  @keyframes topBubbles {
    0% {
      background-position:
        5% 90%,
        10% 90%,
        10% 90%,
        15% 90%,
        25% 90%,
        25% 90%,
        40% 90%,
        55% 90%,
        70% 90%;
    }
    50% {
      background-position:
        0% 80%,
        0% 20%,
        10% 40%,
        20% 0%,
        30% 30%,
        22% 50%,
        50% 50%,
        65% 20%,
        90% 30%;
    }
    100% {
      background-position:
        0% 70%,
        0% 10%,
        10% 30%,
        20% -10%,
        30% 20%,
        22% 40%,
        50% 40%,
        65% 10%,
        90% 20%;
      background-size:
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%;
    }
  }

  @keyframes bottomBubbles {
    0% {
      background-position:
        10% -10%,
        30% 10%,
        55% -10%,
        70% -10%,
        85% -10%,
        70% -10%,
        70% 0%;
    }
    50% {
      background-position:
        0% 80%,
        20% 80%,
        45% 60%,
        60% 100%,
        75% 70%,
        95% 60%,
        105% 0%;
    }
    100% {
      background-position:
        0% 90%,
        20% 90%,
        45% 70%,
        60% 110%,
        75% 80%,
        95% 70%,
        110% 10%;
      background-size:
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%,
        0% 0%;
    }
  }
</style>
