<button id="cv-button" type="button">See my CV</button>

<script>
  const button = document.getElementById('cv-button');
  button?.addEventListener('click', () => {
    button.classList.add('jello-horizontal');
    window.location.href = '/irian-cv-en.pdf';
  });
</script>

<style>
  #cv-button {
    background-color: rgb(var(--accent-color-1));
    color: rgb(var(--text-color));
    border-color: rgb(var(--accent-color-1));
    border-style: solid;
    border-radius: 3px;
    font-size: large;
    padding: 0.5rem;
    margin-top: 2rem;
  }

  .jello-horizontal {
    animation: jello-horizontal 0.9s ease-in-out both;
  }

  @keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
</style>
