<div id="glow-bar"></div>

<script>
  // Make the glow bar disappear after the animation ends
  const glowBar = document.getElementById('glow-bar');

  glowBar?.classList.add('animation-on');

  glowBar?.addEventListener('animationend', () => {
    glowBar?.remove();
  });
</script>

<style>
  #glow-bar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 300vw;
    height: 200px;
    background: linear-gradient(
      transparent 0%,
      rgb(var(--accent-color-1) / 20%) 20%,
      rgb(var(--accent-color-1) / 50%) 70%,
      rgb(var(--accent-color-1) / 60%) 80%,
      transparent 100%
    );
    transform: rotate(-45deg) translateX(-50%);
    transform-origin: top left;

    /* We don't want it on top of the content */
    z-index: 9999;

    &.animation-on {
      display: block;
      animation: glow-bar 500ms linear 100ms 1 running;
    }
  }

  @keyframes glow-bar {

    0% {
      top: 0;
      left: 0;
    }

    100% {
      top: 100%;
      left: 100%;
    }
  }
</style>
