---
import {Image} from 'astro:assets';
import {languages, type LanguageTag} from '../../i18n/i18n';
import {
  getLangFromUrl,
  getLanguageSwitcherURL,
  useTranslations,
} from '../../i18n/i18nUtils';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
---

<div>
  <ul>
    {
      Object.entries(languages).map(([langTag, value]) => (
        <li>
          <a
            href={getLanguageSwitcherURL(Astro.url, langTag as LanguageTag)}
            hreflang={langTag}
          >
            <Image
              class="flag"
              src={value.flagImage}
              alt={t('common.language-picker.flag-image-alt') + ' ' + langTag}
              title={value.label}
            />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    appearance: none;
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
    margin-right: 20px;
    background-color: rgb(var(--light-background-color));
    border: 1px solid rgb(var(--accent-color-1));
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  a {
    display: block;
    padding: 0.3rem;
    padding-bottom: 0;
  }

  .flag {
    height: 1.2rem;
    width: auto;
  }

  a:hover .flag {
    transform: scale(1.1);
    transition: transform ease-in-out 0.15s;
  }
</style>
