---
type Props = {
  animationSteps: number;
  durationInSeconds: number;
  delayInSeconds?: number;
};

const {animationSteps, durationInSeconds, delayInSeconds = 0} = Astro.props;
const durationString = `${durationInSeconds}s`;
const delayString = `${delayInSeconds}s`;
---

<div class="typewriter-container">
  <span class="typewriter-text">
    <slot />
  </span>
  <div class="typewriter-overlay"></div>
</div>

<script>
  // Component inspired by https://codepen.io/blackfrom80s/pen/ogoxLw
  (function () {
    const typewriterOverlayEls = document.querySelectorAll(
      '.typewriter-overlay'
    ) as NodeListOf<HTMLSpanElement>;

    typewriterOverlayEls.forEach((el) => {
      el.addEventListener('animationend', (ev) => {
        const animationName = (ev as AnimationEvent).animationName;

        if (animationName === 'typewriter') {
          el.style.display = 'none';
        }
      });
    });
  })();
</script>

<style define:vars={{animationSteps, durationString, delayString}}>
  .typewriter-container {
    position: relative;
  }

  .typewriter-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-left: 2px solid rgba(255, 255, 255, 0.75);
    background-color: rgb(var(--light-background-color));
    animation:
      typewriter var(--durationString) steps(var(--animationSteps))
        var(--delayString) 1 normal,
      blinkTextCursor 500ms steps(20) infinite normal;
  }

  /* Animation */
  @keyframes typewriter {
    from {
      left: 0%;
    }
    to {
      left: 100%;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-left-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-left-color: transparent;
    }
  }
</style>
