{
	"printWidth": 80,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"trailingComma": "es5",
	"useTabs": true,
	"endOfLine": "lf",
	"semi": true,
	"arrowParens": "always",
	"bracketSpacing": false,
	"plugins": ["./node_modules/prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
