---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="CV">
  <main>
    <h1>Hello World</h1>
    <ul>
      <li>
        <a href="/irian-cv-en.pdf">Curriculum ENGLISH</a>
      </li>
      <li>
        <a href="/irian-cv-es.pdf">Curriculum CASTELLANO</a>
      </li>
      <li>
        <a href="/irian-cv-ca.pdf">Curriculum CATALÀ</a>
      </li>
    </ul>
  </main>
</BaseLayout>

<style></style>
