---
import ContactSection from '../components/website/sections/ContactSection/ContactSection.astro';
import GlowBar from '../components/website/GlowBar.astro';
import ProjectsSection from '../components/website/sections/ProjectsSection/ProjectsSection.astro';
import StarsBackbround from '../components/website/StarsBackbround.astro';
import {defaultLanguageTag, type LanguageTag} from '../i18n/i18n';
import {useTranslations} from '../i18n/i18nUtils';
import BaseLayout from '../layouts/BaseLayout.astro';
import SpanTranslation from '../components/website/SpanTranslation.astro';
import TopSection from '../components/website/sections/TopSection/TopSection.astro';

interface Props {
  locale: LanguageTag;
}

const locale = Astro.props.locale ?? defaultLanguageTag;
const t = useTranslations(locale);
---

<BaseLayout>
  <StarsBackbround />
  <GlowBar />

  <main>
    <TopSection />

    <h2>
      <SpanTranslation>
        {t('website.home.projects-title')}
      </SpanTranslation>
    </h2>
    <div class="heading-underline" role="presentation"></div>
    <ProjectsSection />

    <h2 id="contact-title-first-part">
      {t('website.home.contact-title.first-part') + '... '}
      <span id="contact-title-second-part" class="title-highlight"
        >{t('website.home.contact-title.second-part')}</span
      >
    </h2>
    <ContactSection />
    <div class="spacer-global" role="presentation"></div>
  </main>
</BaseLayout>

<style>
  :root {
    margin: auto;
    padding: 1.5rem;
    max-width: 1200px;
  }

  #contact-title-first-part {
    color: rgb(var(--heading-color-1));
    text-shadow: none;
    margin: 4rem auto 2.5rem auto;
    max-width: 60rem;
  }

  #contact-title-second-part {
    white-space: nowrap;
  }

  .title-highlight {
    color: rgb(var(--accent-color-1));
    text-shadow: 2px 2px 6px rgb(var(--accent-color-1) / 70%);
    font-weight: 800;
  }
</style>
